<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>OneHandIME</string>
    <key>CFBundleIdentifier</key>
    <string>com.onehand.ime</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>InputMethodConnectionName</key>
    <string>com.onehand.ime.IMKServer</string>
    <key>InputMethodServerControllerClass</key>
    <string>$(PRODUCT_MODULE_NAME).IMKController</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Latn</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>AppIcon</string>
</dict>
</plist>
